body {
    background-color: #fdfdfd;
}

table {
    box-shadow: 1px 1px 1px 1px rgb(163, 163, 163);
    border-radius: 12px;
}

tr:last-child {
    border-bottom: transparent;
}

thead {
    border-radius: 5em;
}

table.dataTable {
    margin-top: 15px !important;
}

#pageTitle {
    margin: 0.5em 0em 1em 2em;
}